body{background-image: url(/img/background.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;}


.background{
width: 70%;
height: 100%;
}

.movie-trailer{
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.651);
margin-top: 8%;
margin-bottom: 3%;
margin-left: 30%;
margin-right: 20%;
width: 40%;
text-align: center;
padding: 15px;
}

p, li {
color: rgb(255, 255, 255);
font-size: 18px;
}
  
  
/* Barra de navegação */
header, .navbar {
background-color: rgb(31, 34, 33);
}
  
#nav-container {
padding-top: 0;
padding-bottom: 0;
}
  
#logo {
margin-left: 25px;
width: 200px;
}
  
.navbar-brand {
padding: 0;
color: #FFF;
}
  
.navbar-brand:hover {
color: rgb(204, 13, 13);
}
  
#navbar-links a {
color: #FFF;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
padding: 1rem .8rem;
}
  
.nav-item.active a {
color: red;
}

.footer{
bottom: 0;
position: fixed;
text-align: center;
background-color: #000000;
color:#FFFFFF;
width: 100%;

}
.Rockyperso{
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.651);
margin-top: 8%;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 50%;
width: 40%;
text-align: center;
padding: 20px;
display: inline-box;
}

.Rockyperso p{
text-align: left;
}

.Rockyperso img{
border-radius: 20px;
width: 40%;
height: 25%;
margin:  1% 10%;
}

.Dragoperso{
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.651);
margin-top: 8%;
margin-bottom: 3%;
margin-left: 50%;
margin-right: 5%;
width: 40%;
text-align: center;
padding: 20px;
display: inline-block;
}
    
.Dragoperso p{
text-align: left;
}
    
.Dragoperso img{
border-radius: 20px;
width: 40%;
height: 25%;
margin:  1% 10%;
}
    



.Soundtracks{
margin-bottom: 5%;
}


.Soundtracks img{
border-radius: 20px;
width: 20%;
height: 20%;
margin: 10%;
margin-left: 40%; 
margin-bottom: 0;
}

.Soundtracks h3,audio{
color: rgb(255, 255, 255);
margin-left: 41%;
}
