body{background:url(/img/background.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;}

.background{
width: 100%;
height: 100%;
}

.video-center{
margin-top: 10%;
margin-left: 35%;
margin-right: 20%;
}

.sinopseCenter {
background-color: rgb(3, 3, 3);
color:#FFFFFF;
display: inline-block;
width: 43%;
height: 30%;
text-align: left;
text-decoration: none;
font-style: ubuntu;
font-size: 20px;
margin-left: 35%;
margin-right: 35%;
}

p, li {
color: #444;
font-size: 14px;
}
  
  
/* Barra de navegação */
header, .navbar {
background-color: rgb(31, 34, 33);
}
  
#nav-container {
padding-top: 0;
padding-bottom: 0;
}
  
#logo {
margin-left: 25px;
width: 200px;
}
  
.navbar-brand {
padding: 0;
color: #FFF;
}
  
.navbar-brand:hover {
color: rgb(204, 13, 13);
}
  
#navbar-links a {
color: #FFF;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
padding: 1rem .8rem;
}
  
.nav-item.active {
border-bottom: 3px solid #FFF;
}

.footer{
bottom: 0;
position: fixed;
text-align: center;
background-color: #000000;
color:#FFFFFF;
width: 100%;
}